$margin-top: 1.3rem;


.blog-header {
    margin-top: $margin-top;
}

.logo {
    width: 2.0rem;
    height: 2.0rem;
}

.home-badge {
    margin: .2rem;
}

.header-bar {
    background-color: #222;
    color: white;
    margin-top: 20px;
    height: 2.6rem;
}   

.header-bar-text {
    margin-left: 50px;
}